@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body {
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    font-size: 20px;
}

    p.small {
        font-size: 16px;
    }

a,
a:hover,
a:focus,
a:active,
a.active {
    color: black;
    outline: none;
}

.img-centered {
    margin: 0 auto;
}

#mainNav {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    border: none;
    background: #f0f0f0;
    font-size: 13px !important;
}

    #mainNav a:focus {
        outline: none;
    }

    #mainNav .navbar-brand {
        color: white;
    }

        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:active, #mainNav .navbar-brand.active {
            color: white;
        }

    #mainNav .navbar-nav {
        letter-spacing: 1px;
    }

.active-item, nav-link {
    color: #000000 !important;
    border-bottom: 2px solid black;
    font-weight: 800;
}

li.nav-item.active-item {
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #a4a4a4;
}

#mainNav .navbar-nav li.nav-item:last-child {
    color: #212121 !important;
}

#mainNav .navbar-nav li.nav-item a:hover {
    color: #000000;
    outline: none;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.07);
}

#mainNav .navbar-nav li.nav-item a.nav-link:focus, #mainNav .navbar-nav li.nav-item a.nav-link:active {
    color: black;
}

#mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    color: white;
    border-color: white;
    background: #212121;
}

    #mainNav .navbar-toggler:hover, #mainNav .navbar-toggler:focus {
        color: white;
        border-color: #8d8d8d;
        background-color: #8d8d8d;
    }

#slider-top {
    margin-top: 95px;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eeeeee;
}

    .floating-label-form-group input,
    .floating-label-form-group textarea {
        font-size: 1.5em;
        position: relative;
        z-index: 1;
        padding-right: 0;
        padding-left: 0;
        resize: none;
        border: none;
        border-radius: 0;
        background: none;
        box-shadow: none !important;
    }

    .floating-label-form-group label {
        font-size: .85em;
        line-height: 1.764705882em;
        position: relative;
        z-index: 0;
        top: 2em;
        display: block;
        margin: 0;
        -webkit-transition: top .3s ease, opacity .3s ease;
        -moz-transition: top .3s ease, opacity .3s ease;
        -ms-transition: top .3s ease, opacity .3s ease;
        transition: top .3s ease, opacity .3s ease;
        vertical-align: middle;
        vertical-align: baseline;
        opacity: 0;
    }

    .floating-label-form-group:not(:first-child) {
        padding-left: 14px;
        border-left: 1px solid #eeeeee;
    }

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #ffd800;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}
/*Temporary navbar container fix*/
.navbar-toggler {
    z-index: 1;
}

.big-img-text, .slider-img-text {
    width: 470px;
    height: 250px;
    color: black;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 215px;
    left: 90px;
    font-family: Arial;
}

    .big-img-text span, .slider-img-text span {
        display: block;
        color: #6c6c6c;
        padding-top: 5px;
        word-spacing: 3px;
    }

        .big-img-text span:first-child, .slider-img-text span:first-child {
            color: #42a147;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 2px;
        }

        .big-img-text span:nth-child(2), .slider-img-text span:nth-child(2) {
            color: rgba(0, 0, 0, 0.68);
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-size: 60px;
            font-weight: 100;
            letter-spacing: 1px;
        }

    .big-img-text button, .slider-img-text button {
        background-color: #ffffff;
        color: #000;
        text-transform: uppercase;
        border: 1px solid white;
        border-radius: 25px;
        margin-top: 20px;
        width: 215px;
        height: 50px;
        -webkit-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.75);
    }

.featured-news {
    margin-top: 15px;
}

.trending-product {
    margin-top: 10px;
}

    .trending-product img {
        width: 98%;
    }

#footer-top-three .email-box {
    width: 350px;
    background-color: white;
    border: 1px solid #CCC;
    padding: 10px 10px;
    outline: none;
    background: url(../img/mail.png) no-repeat 95% center #ffffff;
}

button {
    background: url(../img/button-right.png) no-repeat 80% center #f3f3f5;
    color: rgba(0, 0, 0, 0.68);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-social {
    font-size: 20px;
    line-height: 21px;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 2px solid #6c6c6c;
    border-radius: 100%;
    color: white;
    background-color: #6c6c6c;
}

.btn-outline {
    font-size: 12px;
    padding-top: 1px;
    transition: all .3s ease-in-out;
}

footer, #exclusive {
    margin-top: 10px;
}

#footer-top-one h3, #footer-top-two h3, #footer-top-three h3 {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: bolder;
    word-spacing: 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#footer-top-one p, #footer-top-two p, #footer-top-three p {
    display: block;
    color: #6c6c6c;
    padding-top: 5px;
    word-spacing: 3px;
    font-size: 14px;
}

#footer-top-two ul {
    list-style-type: none;
    color: #212121;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-left: 0;
}

.footer-nav {
    text-decoration: none;
}

#footer-bottom-one > p, #footer-bottom-three > p {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
}

#footer-bottom-two {
    text-align: center;
}

section img {
    width: 100%;
    margin: 10px 1px;
}

.featured {
    color: #212121;
    font-size: 36px;
    border-bottom: 3px solid #212121;
    font-weight: bolder;
    padding-right: 10px;
}

.new {
    color: #8d8d8d;
    font-size: 36px;
    border-bottom: 1px solid #212121;
    font-weight: bolder;
    padding-right: 10px;
    margin: 10px -5px;
    padding-bottom: 2px;
}

.explore-all {
    color: #212121;
    font-size: 20px;
    font-weight: bolder;
    /* padding-right: 10px; */
    margin-top: 25px;
}

.trending-products {
    color: #212121;
    font-size: 36px;
    font-weight: bolder;
    padding-right: 10px;
}

/*Product Page*/
#product-list-text {
    background-color: #f5f5f5;
    height: 200px;
}

    #product-list-text .list-text {
    }

        #product-list-text .list-text > p {
            padding: 95px 0px 0 0px;
            font-family: 'Open Sans', sans-serif;
            font-size: 60px;
        }

/* Style the tab */
div.tab {
    overflow: hidden;
    margin: 0 25%;
}

    /* Style the buttons inside the tab */
    div.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        background: none !important;
    }

.buton:hover {
    background-color: #000000;
    color: #b1acac;
}

.buton.active {
    border-bottom: 1px solid #000;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/*Product Page*/


/*Product-Details*/
.top-nav {
    background-color: white !important;
}

#tab-nav {
    background-color: #f4f4f4;
    margin-top: 85px !important;
}
/* Style the detailstab */
div.detailstab {
    overflow: hidden;
}

    /* Style the buttons inside the detailstab */
    div.detailstab input {
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 10px 0 0 40px;
        transition: 0.3s;
        font-size: 17px;
        width: 16%;
    }

        /* Change background color of buttons on hover */
        div.detailstab input:hover {
            background-color: #ddd;
        }

        /* Create an active/current detailstablink class */
        div.detailstab input.active {
            background-color: #ccc;
        }

/* Style the detailstab content */
.detailstabcontent {
}

#product-img, #product-text {
    padding: 5% 0;
}

    #product-text p {
        text-align: center;
        font-size: 14px;
    }

    #product-text button {
        background-image: url(../img/button-rightwhite.png);
        font-size: 14px;
        background-color: #f54337;
        border: 1px solid #f54337;
        border-radius: 25px;
        margin-top: 20px;
        width: 350px;
        height: 50px;
        color: white;
        float: inherit;
        font-weight: bolder;
        margin: 5px 20% 10px 20%;
    }

    #product-text #detail-type {
        color: #212121;
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 0px;
    }

    #product-text #detail-color {
        color: #f54337;
        font-weight: bold;
        font-size: 15px;
    }

    #product-text #detail-money {
        color: #585858;
        font-weight: 500;
        font-size: 20px;
    }

        #product-text #detail-money b {
            color: #2f2f2f;
            font-weight: lighter;
            font-size: 28px;
        }

    #product-text #detail-content p {
        text-align: left;
        font-size: 12px;
        color: #8d8d8d;
        font-weight: 100;
        margin: 5% 0px;
    }

/*Product-Details*/


/*Media*/
@media (min-width: 992px) {
    #mainNav {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

        #mainNav .navbar-brand {
            font-size: 2em;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }

        #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
            color: white;
            border-radius: 3px;
            background: black;
        }

            #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active {
                color: white;
                background: black;
            }

        #mainNav.navbar-shrink {
            padding: 10px 0;
        }

            #mainNav.navbar-shrink .navbar-brand {
                font-size: 1.5em;
            }

    #product-list-text {
        margin-top: 85px !important;
    }

    #slider-top {
        margin-top: 95px;
    }
}

@media(max-width:992px) {
    #product-list-text {
        display: none;
    }

    .tab, #tab-nav {
        display: grid;
    }
}

@media(max-width:768px) {

    .tab, #tab-nav {
        display: grid;
    }

    .big-img-text {
        top: 30px;
        left: 15px;
        width: 74%;
    }

    .slider-img-text {
        top: 5px;
        left: 5px;
        font-size: 13px;
        width: 100%;
    }

        .slider-img-text button {
            display: none;
        }

        .big-img-text span:nth-child(2), .slider-img-text span:nth-child(2) {
            color: rgba(0, 0, 0, 0.68);
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-size: 36px;
            font-weight: 100;
        }

        #product-text button {
     margin:0; 
}
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }

    footer {
        text-align: center;
    }
}
/*Media*/
